wp_data/wp-admin/*
wp_data/wp-content/ai1wm-backups/*
wp_data/wp-content/upgrade/*
wp_data/wp-content/index.php
wp_data/wp-includes/*
.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp_data/wp-blog-header.php
wp_data/wp-comments-post.php
wp_data/wp-config-docker.php
wp_data/wp-config-sample.php
wp_data/wp-config.php
wp_data/wp-cron.php
wp_data/wp-links-opml.php
wp_data/wp-load.php
wp_data/wp-login.php
wp_data/wp-mail.php
wp_data/wp-settings.php
wp_data/wp-signup.php
wp_data/wp-trackback.php
wp_data/xmlrpc.php
