index.php
languages
upgrade
wordpress_data/wp-config.php

wordpress_data/wp-content/themes/index.php
wordpress_data/wp-content/themes/twentytwentyfour
wordpress_data/wp-content/themes/twentytwentythree
wordpress_data/wp-content/themes/twentytwentytwo

wordpress_data/wp-content/plugins/.buildcomplete
wordpress_data/wp-content/plugins/index.php
wordpress_data/wp-content/plugins/hello.php